.collapse {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: center;
    display: flex;
    text-align: center;
}
.btn-primary {
    background-color:rgb(138, 208, 248);
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.btn-secundario {
    background-color: rgb(26, 255, 0);
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.btn-secundario:hover {
    background-color: rgba(13, 189, 0, 0.79);
}
.img-fluid {
    width:50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
body {
    background: linear-gradient(120deg, #ffffff,
    
    #ffd6a5,
    #ff8c42);
    }

.principal-mundopet {
    background: linear-gradient(120deg, #ffffff,
    
    #ffd6a5,
    #ff8c42);
    background-size: no-repeat 
  
}    

.carrosel-boot{
    margin: auto;
    width: 1200px;
}
