.collapse {
    background-color: rgb(132, 255, 0);
    flex-direction: row;
    justify-content: center;
    display: flex;
    text-align: center;
}
.btn-primary {
    background-color:black;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 50px;

}
.btn-secondry {
    background-color: aqua;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.img-fluid {
    width:50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

body {
    background: linear-gradient(120deg, #ffffff,
    
    #ffd6a5,
    #ff8c42);
    }

.principal-mundopet {
    background: linear-gradient(120deg, #ffffff,
    
    #ffd6a5,
    #ff8c42);
    background-size: no-repeat 
  
}    
