.collapse {
    background-color: aqua;
    flex-direction: row;
    justify-content: center;
    display: flex;
    text-align: center;
}
.btn-primary {
    background-color:black;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 50px;

}
.btn-secondry {
    background-color: aqua;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.img-fluid {
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 100px;
}